div{
    padding: 2px;
    border: 1px soild black;
    margin: 2px;
}
.box{
    background-color: black;
    width: 196px;
    height: 196px;
    margin-left: 2px;
}
.box1{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 390px;
    margin-top: -200px;
}
.box2{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 800px;
    margin-top: -200px;
}
.box3{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 190px;
    margin-top: -10px;
}
.box4{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left: 600px;
}
.box5{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-left: 804px;
}
.box6{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left: 400px;
}

.box7{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-left: 600px;
}

.box8{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -430px;
    /* margin-left: 624px; */
}

.box9{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-left: 206px;
}
.box10{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-left: 416px;
}
.box11{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -220px;
    /* margin-left: 416px; */
}
.box12{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -180px;
    margin-left: 800px;
}
.box13{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -30px;
    margin-left: 210px;
}
.box14{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -190px;
    margin-left: 610px;
}
.box15{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -10px;
    margin-left:810px;
}
.box16{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -220px;
    margin-left:410px;
}
.box17{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left:10px;
}
.box18{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -5px;
    margin-left:610px;
}
.box19{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left:210px;
}
.box20{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-left:810px;
}
.box21{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left:410px;
}
.box22{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -210px;
    margin-left:10px;
}

